:host {
    width: 65%;
    display: block;
    position: static;

    >section {
        .head {
            padding: 1rem;

            .title {
                    margin: 0 1rem;
                    color: #00AC56;

            }

            .links {
                margin-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                a{
                    margin: 0 1rem;
                }
            }
        }
    }
}