 .top-panel {
     //  background-color: var(--body-panel-bg);
     //  color: var(--body-panel-color);
     padding: 0 15px;
     height: 100%;


     .panel {
         background-image: var(--background-image);
         box-shadow: var(--box-shadow);
         border-radius: var(--radius);
         color: var(--body-panel-color);

         .heading {
             border-radius: 3rem;
             border-top: 2px solid var(--body-heading-border-color);
             border-bottom: 1px solid var(--body-heading-border-color);
             padding: 0rem 1rem;
         }

         .rounded {
             border-radius: 0px !important;
             margin-left: 20px;
             // background-color: var(--background-image);
             // box-shadow: var(--box-shadow);
             //  font-size: 13px;
         }

     }
 }

 // $left-panel-width: 210mm;
 // $left-panel-height: 297mm;
 $left-panel-bg-color: #f2f2f2;

 .bottom-panel {

     .img {
         padding: 1rem;
         width: 100%;
         display: flex;
         justify-content: center;

         img {
             border-radius: 100%;
             border: solid rgb(0, 0, 0) 1px;
             width: 180px;
             height: 180px;
         }


     }

     .box {
         border-radius: 5px;
         width: 100%;
         background-image: var(--background-image);
         box-shadow: var(--box-shadow);
         border-radius: var(--radius);

         height: auto;

         .title {
             border-bottom: solid rgb(196, 196, 196) 2px;
             padding-bottom: 2px;

         }

         .details {
             .text {
                 font-size: 12px;
             }
         }


     }
 }

 //  *{
 //     break-after: avoid;
 //     break-before: avoid;
 //  }


 ::ng-deep {
     .formatted-text {
        font-weight: 600;
        //  font-size: 120%;
        //  border: 0px solid #000000;
        //  border-left-width: 1px !important;
        //  border-radius: 5px;
         padding: 2px 5px;
     }
 }