<div class="A4-size" #page *ngIf="resumeData">

    <div class=""
        style="background-image: url('./assets/images/bg.png');  background-size: cover; background-position: center;">
        <div class="cover opacity d-flex" style="opacity: 0.95;">
            <app-column-right [data]="resumeData">
                <app-resume-header [config]="headerConfig"></app-resume-header>
            </app-column-right>
            <app-column-left [data]="resumeData.sidePanel"></app-column-left>
        </div>
    </div>
</div>