#A4Page {
    width: 30cm;
    height: 42.2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: #006666;
    // background: #E8E8EA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.panel {
    break-after: avoid;
    break-inside: avoid;
    break-before: avoid;
}


.Left-panel {
    // width: 70%;
    /* background-color: #313436; */
}


.Right-panel {
    width: 30% !important;
    /* background-color: rgb(39 39 56); */
    background-color: #DBD9DC;
}

.contacts .r {
    width: auto;
}


.badge-dark {
    background-color: #f1f1f1 !important;
    color: black;
}

a,
a:hover,
a:active,
a:visited {
    /* color: white; */
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.icons {
    width: 10%;
}

.elements {
    width: 90%;
}

.elements {
    width: 80%;
}

span {
    font-size: 14px;
}

.headspane {
    font-size: 20px;
}

.text-secondary h6 {
    margin-right: 20px;
    font-size: 12px !important;
}


.fas,
.fab {
    color: #b28000 !important;
    margin-right: 5px;
}

.hr-line {
    margin-top: 1px;
    background-color: #ba02c0;
    height: 3px;
    border-radius: 3rem;
}

.btn {
    /* background-color: #00000007; */
    height: auto;
    border-radius: 3rem;
    line-height: 15px;
    margin-bottom: 10px !important;
    font-size: 14px;
    color: black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !IMPORTANT;
    box-shadow: 5px 11px 12px -10px #0000002b;

    border: 1px solid black !important;
}

.header {
    /* background-color: rgb(39 39 56); */
    background-color: #C9C8CD;
}

.main-line {
    height: 2px;
    padding: 0;
    margin: 0;
}




.A4-size {
    width: 300mm;
    // height: 950mm;
}