<div class="right-panel py-4" >
    <ng-content></ng-content>
    <div class="panel border border-2 border-top-0" *ngFor="let data of data.panels">
        <div class="heading mt-2">
            <h3 class="title p-0 m-0 fw-bold" [innerHTML]="data.title|textTransform"></h3>
        </div>
        <div class="body px-2 py-0" *ngFor="let item of data.exps">
            <div class="role fw-bold mt-2">{{item.role}}</div>
            <div *ngIf="item.date" class="date mt-2 d-flex justify-content-between pe-5">
                <div class="from">
                    <i class="bi me-1 {{item.date.fromIcon?item.date.fromIcon:''}} "></i>
                    {{item.date.from}} - <span class="to" *ngIf="item.date.to;else present">{{item.date.to}}
                    </span>
                    <ng-template #present>Present</ng-template>
                </div>

                <span class="at">
                    <i class="bi me-1 {{item.date.atIcon?item.date.atIcon:''}} "></i>
                    {{item.date.at}}</span>
            </div>
            <div class="list mt-2">
                <ul>
                    <ng-container *ngFor="let option of item.lists">
                        <li [innerHTML]="option|textTransform"> </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="p-2" *ngIf="data.adds">
            <div class="d-flex" *ngFor="let add of data.adds">
                <span class=" me-2 text-nowrap fw-bold">{{ add.title}} : </span> <span>
                    <span *ngFor="let name of add.data">
                        <button
                            class="btn  btn-icon border border-1 border-secondary py-1 px-2 mx-1 mt-1 rounded"[innerHTML]="name|textTransform"></button>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>