$right-panel-bg-color: #f2f2f2;
$heading-border-color: #323B4C;

.right-panel {
    background-color: $right-panel-bg-color;
    padding: 0 15px;
    height: 100%;
    width: 20cm;

    .panel {
        border-radius: 1rem;
        margin-top: 10px;

        .heading {
            border-radius: 3rem;
            padding: 0 10px;
            border-top: 2px solid $heading-border-color;
            border-bottom: 1px solid $heading-border-color;
        }

        .rounded {
            border-radius: 8px !important;
            font-size: 13px;
        }
    }
}