<div class="left-panel p-2 h-100">

    <!--     <div class="img">
        <img src="assets/images/pr.jpeg" alt="">
    </div>  -->

    <div class="box ms-2 ps-2  mb-2 border border-secondary  p-3" *ngFor="let item of data">
        <div class="title">
            <h4 class="pb-1 m-0 text-uppercase">{{item.title}}</h4>
        </div>
        <div class="details mt-2">
            <div class="option d-flex mt-2" *ngFor="let option of item.options">
                <div class="icon me-2">
                    <i class="bi {{option.class?option.class:'bi-star-fill'}}"></i>
                </div>
                <div class="text  ">
                    <div class="head fw-bold border-bottom w-50" style="min-width: max-content;" *ngIf="option.head">
                        {{option.head}}</div>
                    <div>{{option.text}}</div>
                </div>
            </div>
        </div>
    </div>



</div>