<div class="header my-0 py-0 panel text-black bg pb-2">
    <div class="w-100 d-flex justify-content-between title">
        <div class="name mt-2 my-2 border-2 border border-black px-3 py-2 position-relative" name="name">
            <div class="link d-flex  align-items-center  justify-content-between"
                [innerText]="form().controls['name'].value">
            </div>
            <div class="mb-2 heading position-absolute" style="background-color: #fff; bottom: -25%;">
                <h4 class="m-0 p-0 text-capitalize" [innerText]="form().controls['title'].value"> </h4>
            </div>

        </div>
        <div class=" d-flex flex-column-reverse ">
            @for (link of links; track $index) {
            <div class="link d-flex  align-items-center justify-content-end">
                <a class="text-capitalize heading center fw-bold btn text-start m-0 p-0" target="_blank" [title]="link.name"
                    [href]="link.href">
                    <span class=" m-0 p-0 h6 me-2 center {{link.icon}}"></span>
                    <span [innerHTML]="link.name"></span>
                </a>
            </div>
            }
        </div>
        
        <div class="p-2 position-relative summary text-capitalize" *ngIf="false">
            <div class="p-1">
                <div class="corner left-top-corner"></div>
                <div class="corner right-bottom-corner"></div>
                <div class="p-2 details">
                    <span [innerHtml]="form().controls['summary'].value|textTransform"></span>
                </div>
            </div>
        </div>
    </div>
</div>