<div class="section pt-2 px-1">
    <div class="skill panel px-1 ">
        <div class="title text-danger h3 fw-bolder text-uppercase">Technical Skills :</div>
        <hr class="bg-danger p-0 m-0 border border-1 border-danger  my-1 mb-3  ">
        <ul class="m-0">
            @for (skill of skills; track $index) {
            <li>
                <div class="skill pe-3">
                    <div class="d-flex flex-wrap">
                        <span class="title fw-bold me-2 h5" [innerText]="skill.title" *ngIf="skill.title"></span>
                        @for (item of getSkill(skill.details); track $index) {
                        <div class="border-dark border f skill-btn px-1 my-1">{{item}}</div>
                        }
                    </div>
                    <!-- <span class="  fst-italic fw-lighter ">{{skill.details}}</span> -->
                    <!-- <ngb-progressbar class="mb-3" type="danger" [value]="skill.pro" /> -->
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="links panel px-1 d-flex align-items-center flex-wrap">
        <div class="w-100">
            <div class="title text-danger h3 fw-bolder text-uppercase">Contacts & Links :</div>
            <hr class="bg-danger p-0 m-0 border border-1 border-danger  my-1 mb-3">
        </div>
        @for (link of links; track $index) {
        <div class="link d-flex align-items-center p-2">
            <a class="text-capitalize ms-2  btn text-start m-0 p-0" target="_blank" [title]="link.name"
                [href]="link.href"> <span class="text-danger m-0 p-0 h4 me-2 {{link.icon}}"></span> <span
                    [innerText]="link.name"></span></a>
        </div>
        }
    </div>



    <div class="projects panel px-1 ">
        <div class="title text-danger h3 fw-bolder text-uppercase"> CAREER OBJECTIVE :</div>
        <hr class="bg-danger p-0 m-0 border border-1 border-danger  my-1 mb-3">
        <div class="box py-1 text-justify"> {{objective}} </div>
    </div>

    <div class="strength panel px-1 ">
        <div class="title text-danger h3 fw-bolder text-uppercase">Strength :</div>
        <hr class="bg-danger p-0 m-0 border border-1 border-danger  my-1 mb-3">
        <div class="box py-1">

            @for (st of strength; track $index) {
            <div class="skill pe-3 d-flex">
                <span class="{{st.class}} text-danger me-3 h4 "></span>
                <div class="title" [innerText]="st.text"></div>
            </div>
            }


        </div>
    </div>
    <div class="projects panel px-1 ">
        <div class="title text-danger h3 fw-bolder text-uppercase"> education :</div>
        <hr class="bg-danger p-0 m-0 border border-1 border-danger  my-1 mb-3">
        <div class="box py-1">

            @for (edu of education; track $index) {
            <div class="course ">
                <div class="text-danger d-flex fw-bold">{{edu.title}} <span class="flex-fill"></span>
                    <div class="text-danger opacity-75 fst-italic">{{edu.by}}</div>
                </div>
                <div class="">{{edu.from}} </div>
            </div>
            }


        </div>
    </div>

</div>