/* You can add global styles to this file, and also import other style files */


:root {
    --a4-width: 30cm;
    --a4-height: 29.7cm;
    --a4-bg: #fff;
    --resume-header-width: 140mm;
    --resume-header-height: auto;
    --resume-header-bg: #0D6E6E;
    --resume-header-width: 100%;
    --resume-header-height: 220px;
    --resume-header-color: #fff;
    --body-panel-bg: #fff;
    --body-panel-color: #fff;
    --body-heading-border-color: #323B4C;
    // --background-image: linear-gradient(145deg, #0d5353d1, #0D6E6E);
    --background-image: linear-gradient(145deg, #edf1f4, #ffffff);
    // --box-shadow: 5px 5px 15px #0d5353d1, -5px -5px 15px #0D6E6E;
    --box-shadow: 5px 5px 15px 0px #e2e8ec, inset 5px 5px 15px 0px #e2e8ec, inset -5px -5px 15px 0px #ffffff, -5px -5px 15px 0px #ffffff;
    --radius: 1rem;
    --color: #000;
}

// Import Bootstrap CSS
@import "~bootstrap/dist/css/bootstrap.min.css";

// Import Bootstrap Icons CSS
// @import "~bootstrap-icons/font/bootstrap-icons.css";
// Import Angular Material Theming
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html,
body {
    height: 100%;
    background-color: #fff;
}

* {
    color: var(--color) !important;
    // font-family: "Calibri", sans-serif;
    font-size: 11px;
    // break-inside: auto; 
}

