/* You can add global styles to this file, and also import other style files */


// Import Bootstrap CSS
@import "~bootstrap/dist/css/bootstrap.min.css";

// Import Bootstrap Icons CSS
@import "~bootstrap-icons/font/bootstrap-icons.css";
// Import Angular Material Theming
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html,
body {
    height: 100%;
    background-color: #000;
}

body {
    margin: 0;
}

* {
    // font-family: "Calibri", sans-serif;
}

// * {
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }