.header {
    // background-color: #17314a;
    color: white;
    padding: 0.5rem 0rem;
    display: flex;
    // background: linear-gradient(40deg, #1d583c 46%, #dc3545ab 90%);
    // background-color: #000 !important;

    .box {
        width: 200px;
    }

    .title-head {
        border-bottom: 2px solid black;
    }

    .name {
        font-size: 40px;
        font-weight: 800;
        line-height: 100%;
    }

    .title {
        width: fit-content;
        height: fit-content;
        font-size: 15px;
    }

    .summary {
        text-align: justify;
        border-radius: 5px;

        &,
        .details {
            background-color: rgb(34 86 86 )  !important;
        }

        .details {
            font-size: 14px;
            color: white;
            font-weight: 400;
        }

        div {
            padding: 1rem;
            text-align: justify;
            position: relative;
            background-color: white;
            border-radius: 1rem;
        }


        .corner {
            width: 10rem;
            height: 8rem; 
            background-color: black;
            // background-color: rgb(0, 0, 0);
            position: absolute;

        }

        .left-top-corner {
            left: 0;
            top: 0;
        }

        .right-bottom-corner {
            right: 0;
            bottom: 0;
        }
    }

}