.main {
    padding: 0.5rem 0 0 0.5rem;
    width: 100%;
    height: 100%;
    // background-color: black;
    

    .exp {
        .list {
            ul {
                list-style-type: disclosure-closed;

                li {
                    text-align: justify;
                }

                li::marker {
                    color: var(--bs-danger);
                }
            }
        }
    }

    .course {
        a {
            cursor: pointer;
        }
    }
}