<div class="section px-1">
    <div class="skill panel px-1 ">
        <hr class=" p-0  border-0">
        <div class="title  h3 fw-bold text-uppercase">Skill Set :</div>
        <ul class="m-0 ps-3 d-flex p-0 flex-wrap justify-content-between text-uppercase ">
            @for (skill of skills; track $index) {
            <li>
                <div class="skill pe-3" [class.mt-2]="$index>0">
                    <span class="fw-bold me-2 h6 title" [innerText]="skill.title+' :'"></span>
                    <div class="d-flex flex-wrap ">
                        @for (item of getSkill(skill.skills); track $index;let last=$last) {
                        <ButtonComponent [text]="item"></ButtonComponent>
                        }
                    </div>
                    @if (skill.nested) {
                    <div class="d-flex flex-wrap  ">
                        <span class=" mb-0 center h6" [innerText]="skill.nested.title+' :'"></span>
                        @for (item of getSkill(skill.nested.skills); track $index;let last=$last) {
                        <ButtonComponent [text]="item"></ButtonComponent>
                        }
                    </div>
                    }

                    <!-- <span class="  fst-italic fw-lighter ">{{skill.details}}</span> -->
                    <!-- <ngb-progressbar class="mb-3" type="danger" [value]="skill.pro" /> -->
                </div>
            </li>
            }
        </ul>
    </div>

    <div class="projects panel px-1 ">
        <hr class=" p-0  border-0   ">
        <div class="title  h3 fw-bold text-uppercase"> Profiles :</div>
        <div class="box py-1 text-justify">

            @for (item of profiles; track $index) {
            <a [href]="item.link" target="_blank"
                class="form-control btn text-start bg-transparent border-0 border-bottom">
                <span class=" fw-bold   " [innerText]="item.org"></span> :
                <span class="heading" [innerText]="item.username"></span>
            </a>
            }



        </div>
    </div>
    <div class="projects panel px-1">
        <hr class=" p-0  border-0   ">
        <div class="title  h3 fw-bold text-uppercase"> CAREER OBJECTIVE :</div>
        <div class="box py-1 text-justify" [innerHTML]="objective"> </div>
    </div>


    <div class="strength panel px-1 " *ngIf="false">
        <hr class=" p-0  border-0   ">
        <div class="title  h3 fw-bold text-uppercase">Skills :</div>
        <div class="box py-1">

            @for (st of strength; track $index) {
            <div class="skill pe-3 d-flex pt-1">
                <span class="{{st.class}}  me-2 h4 "></span>
                <div class=" " [innerHTML]="st.text|textTransform"></div>
            </div>
            }


        </div>
    </div>
    <div class="projects panel px-1 ">
        <hr class=" p-0  border-0   ">
        <div class="title  h3 fw-bold text-uppercase"> education :</div>
        <div class="box py-1">

            @for (edu of education; track $index) {
            <div class="course ">
                <div class=" d-flex fw-bold title">{{edu.title}} <span class="flex-fill"></span>
                    <div class="heading  fst-italic">{{edu.by}}</div>
                </div>
                <div class="">{{edu.from}} </div>
            </div>
            }


        </div>
    </div>

</div>