/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import "~bootstrap/dist/css/bootstrap.min.css";

@import 'bootstrap/scss/bootstrap';





html,
body {

    margin: 0;
    font-size: 13px;
    color: rgb(67 67 67);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-panel-height {
    height: calc(100dvh - 60px);
    width: 100%;
}

.shadow-3d {
    box-shadow: 5px 5px 10px #00000080, -1px 0 5px #ffffff3e !important;
}

.a4 {
    min-width: 21cm !important;
    max-width: 21cm !important;

    height: 29.7cm;
    overflow: hidden;

    .main-body {
        display: flex;
        // background-color: #f2f2f2;
        justify-content: space-between;
    }
}

@page {
    size: 21cm 30cm !important;
    margin: none !important;
    orientation: portrait;
}