<section class="dashboard p-1 p-lg-3 main-panel-height">
    <div class="resume-container w-100 h-100">

        <div class="card add center btn" (click)="createResume()">
            <div class="card-body center w-100">
                <span class=" m-0 p-1">
                    <span class="bi bi-plus-square-dotted h1"></span>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>


    </div>

</section>